@model MVC4BlogSoftware.Controllers.PostModel

@{
    ViewBag.Title = "Post";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="postForm">
<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>New Post Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)
                @Html.ValidationMessageFor(m => m.Title)
            </li>
            <li>
                @Html.LabelFor(m => m.Body)
                @Html.TextAreaFor(m => m.Body, 2,2,new {})
                @Html.ValidationMessageFor(m => m.Body)
            </li>
            <li>
                @Html.LabelFor(m => m.Author)
                @Html.TextBoxFor(m => m.Author)
                @Html.ValidationMessageFor(m => m.Author)
            </li>
        </ol>
        <input type="submit" value="Submit Post" />
    </fieldset>
}
</section>


@*@section Scripts {*@
@*    @Scripts.Render("~/bundles/jqueryval")*@
@*}*@
